* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.banner {
    width: 100%;
    height: 100vh;
    /* background-image: linear-gradient(
        rgba(0, 0, 0, 0.75), 
        rgba(0, 0, 0, 0.75)
    ), url('headset.jpg'); */
    background-image: url('home.jpg');
    background-size: cover;
    background-position: center;
}

.navbar {
    padding: 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar ul{
    display:flex;
    gap: 20px;
    position: relative;
}
.navbar a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    /* font-style: ; */
    /* text-transform: capitalize;
     */
     text-transform: uppercase;
}
ul li{
    display: inline-block;
    justify-content: space-between;

}
.navbar ul li::after{
 content: '';
 height:3px;
 width: 100%;
 ;
 position:absolute;
 left: 0;
 bottom: 0;
}
.navbar ul li:hover::after{
    width: 100%;
    color: yellow;
    /* text-color: yellow; */
}
.content{
    width: 100%;
    position: absolute;
    text-align: center;
    color: black;
    margin-top: 240px;
    
}
.button{
    /* width: 200px;
    height: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color:red; */

}
button:hover{
    background-color: rgb(37, 22, 238);
}

