@keyframes colorChange {
  0% {
    color: red;
  }
  25% {
    color: orange;
  }
  50% {
    color: yellow;
  }
  75% {
    color: green;
  }
  100% {
    color: blue;
  }
}

/* Apply the animation to the header */
.animated-header {
  font-size: 3rem;
  text-align: center;
  animation: colorChange 5s infinite;
}